<div class="myContainer project-list">
    <div class="project-list__headerImg">
        <img src="assets/images/close-up-code-coding-160107.jpg" alt="">
    </div>
    <p>
        Willkommen. Mein Schwerpunkt ist die Umsetzung von modernen Webseiten. Dabei spezialisiere ich mich auf Frontend-Development, responsives Webdesign und
        Barrierefreiheit. Hier eine Übersicht besonders gelungener Projekte der letzten Jahre.
    </p>
    <div class="project-list__wrapper">
        <a class="project-list__item" *ngFor="let p of projects" [routerLink]="['/project-details', p.id]">
            <div class="project-list__image">
                <img src="assets/images/{{p.image}}" alt="{{p.name}}">
            </div>
            <p class="project-list__name">{{p.name}}</p>
        </a>
    </div>
</div>
