<header>
    <nav  class="navbar navbar-expand-lg navbar-light myContainer">
        <a  class="navbar-brand"  href="#">
            <h1>Simon Freiberger</h1>
            <p>Web Developer</p>
        </a>
        <div  class="collapse navbar-collapse"  id="navbarText">
            <ul  class="navbar-nav">
                <li  class="nav-item">
                    <a class="nav-link" [routerLink]="['/project-list']">Portfolio</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">Vita</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
