<section class="cd-timeline js-cd-timeline">
    <div class="myContainer cd-timeline__container">

        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__year cd-timeline__img--picture js-cd-img">
                2008
            </div>

            <div class="cd-timeline__content js-cd-content">
                <h2>HAK Multimedia</h2>
                <p class="text--subtle">
                    Der Schwerpunkt Stand in den 5 Jahren an der Handelsakademie Innsbruck auf Wirtschaft, doch in den vielen
                    Multimedia Fächern habe ich mein Interesse an der Informatik entdeckt.
                </p>
            </div>
        </div>

        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__year cd-timeline__img--picture js-cd-img">
                2014
            </div>

            <div class="cd-timeline__content js-cd-content">
                <h2>Informatik Studium</h2>
                <p class="text--subtle">
                    Die Universität Innsbruck hat mich begeistert, mit der Masse an Wissen die sie vermittelte, doch schon bald wusste ich,
                     dass ich zu diesem Zeitpunkt eine praktische Lernweise bevorzugen würde.
                </p>
            </div>
        </div>

        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__year cd-timeline__img--picture js-cd-img">
                2015
            </div>

            <div class="cd-timeline__content js-cd-content">
                <h2>holzweg GmbH</h2>
                <p class="text--subtle">
                    Bei holzweg konnte ich an professionellen Webseiten arbeiten und gleichzeitig mein Wissen, mit Hilfe von Mitarbeitern, in den Bereichen Frontend- und Backend-Web-Development vertiefen.
                </p>
            </div>
        </div>

        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__year cd-timeline__img--picture js-cd-img">
                2018
            </div>

            <div class="cd-timeline__content js-cd-content">
                <h2>web-crossing GmbH</h2>
                <p class="text--subtle">
                    Nach 3 Jahren bei Holzweg habe ich nach neuen Herausforderungen gesucht. Bei holzweg habe ich mich noch oft auf
                    die Hilfe von Mitarbeitern verlassen. Hier konnte ich endlich selbst Verantwortung in eigenen Projekten übernehmen.
                </p>
            </div>
        </div>

    </div>
</section>
